body {
    background-image: url('../img/pasta-with-vegetable-dish-on-gray-plate-beside-tomato-fruit-769969.jpg');
    background-size: cover;
    height: 500px;
    color: black;
  }
  
  .navbar-home {
      background-color: #ea5b31;
      height: 60px;
      width: 100%;
      border-color:#ea5b31 ;
      margin-bottom: 0px;
  }
  
  
  .navbar-home .navbar-nav>li>a {
      color: #fff;
      font-size: 2rem;
  }
  
  .navbar-home .navbar-nav>li>a:hover,
  .navbar-home .navbar-nav>li>a:focus {
    background-color: white;
    color: black;
  }
  
  .navbar-home .navbar-brand {
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
  }
  .navbar-home .navbar-brand:hover,
  .navbar-home .navbar-brand:focus {
    color: #35312c;
  }

.red{
  background-color: #bd120c;
  height: 500px;
}

.dish-container{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  height: 100px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
  font-family: Arial, Helvetica, sans-serif;
}


.dish-profile-pic{
  height: 80px;
  width: 120px;
  box-shadow: 30px;
}

.food-price{
  font-size: large;
  font-weight: bold;
  padding-top: 20px;
}
 
.footer {
    background: #ea5b31;
    color: #fff;
    letter-spacing: 0.2rem;
    padding: 20px;
    font-size: 18px;
  }